<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.DemoTools" description="Feature DemoTools" dependencies="Foundation.Serialization"
                       patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\DemoTools\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.DemoTools.Commands" database="core"
                     path="/sitecore/content/Applications/Control Panel/Demo Tools" />
            <include name="Feature.DemoTools.Templates" database="core"
                     path="/sitecore/templates/Feature/Demo Tools" />
            <include name="Feature.Core.DemoTools.Settings" database="core"
                     path="/sitecore/system/Settings/Feature/Demo Tools" />
            <include name="Feature.DemoTools.Settings" database="master"
                     path="/sitecore/system/Settings/Feature/Demo Tools" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>